.like-button {
    width: 22px;
    height: 19px;
    background-image: url(../../images/like-icon_color_white.svg);
    border: none;
    background-color: #fff;
    align-self: center;
}

.like-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.5s ease;
    }