.elements__card-profile {
max-width: 246px;
margin: 0 auto;
padding: 22px 0 22px 0;
display: flex;
justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .elements__card-profile {
        max-width: 280px;
    }
  }

  @media screen and (max-width: 767px) {
    .elements__card-profile {
        max-width: 246px;
    }
  }