.save-button {
  width: 358px;
  height: 50px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
  background-color: #000;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.save-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 767px) {
  .save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}